/ProyectoProgramacionCalculadora/dist/
/proyecto u3 v1/build/
proyecto u3 v1/nbproject/private/private\.xml
/proyecto_u3_v2/nbproject/private/
/proyecto_u3_v2_1/nbproject/private/
/proyecto_u3_v2_1/build/